@import 'tailwindcss';
@import './styles/fonts.module.css';

@theme {
  --color-card: #fff;
  --color-theme: #fe843d;
  --color-disabled-button: #e7e8e9;
  --color-dark: #282526;
  --color-dark-grey: #9fa3a9;

  --shadow-active: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

  --font-anek-malayalam: 'Anek Malayalam', sans-serif;
}

@utility theme-gradient {
  background: linear-gradient(90.04deg, #ff823c 0.03%, rgba(245, 175, 25, 0.62) 99.96%);
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: 'Anek Malayalam', sans-serif;
  font-size: 1rem;
  color: black;
  background: #e5e5e5;
  line-height: 1;
  position: relative;
}
